// include colors & fonts

// colors-use
$color_blue_dark: #3867d6;
$color_blue_light: #7799ea;
$color_blue_navigation: rgb(33, 150, 243);
$color_nyc: #f7b731;
$color_nyc_light: #fffaf1;
$color_orange: #fd9644;
$color_red_dark: #eb3b5a;
$color_red_light: #fc5c65;

// font-size
