.custom-labels {
  direction: ltr;
  text-align: left;
  padding: 0;
}


.form-groups {
  direction: rtl;
  text-align: right;
  margin-bottom: 30px !important;
  padding: 25px;

  .containers {
    margin-bottom: 20px;

    .labels {
      width: 100%;
      direction: ltr;
      margin-top: 6px;
    }

    .field {
      width: 100%;

      [type="text"],
      textarea,
      select,
      .mat-select,
      .multiselect {
        width: 100%;
        background-color: #FAFCFF;
        padding: 6px;
        height: 39px !important;
        border-radius: 5px !important;
        border: 1px solid #DDDEE1 !important;

        &:focus {
          background-color: #fffdf4;
          border-color: rgb(201, 201, 201);
        }

        .mat-select-arrow {
          margin: 0 10px !important;
        }
      }

      .dp-material {
        width: 100%;
      }

      [_ngcontent-ng-cli-universal-c13] {
        border-width: 1px !important;
      }

      textarea {
        width: 100% !important;
        height: 150px !important;
      }

      select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
      }
    }
  }

  .label_forms {
    width: 27%;
    float: right;
    position: relative;
    top: 7px;
    font-size: .95rem;
  }

  #dropmenu_selectbox {
    position: absolute;
    width: 100%;
    display: none;
    top: 40px;
    padding: 11px;
    z-index: 1;
    background-color: #FFF;
    box-shadow: 0px 5px 10px rgba(179, 179, 179, 0.2);
    animation: dropmenu_selectbox .3s ease;

    @keyframes dropmenu_selectbox {
      0% {
        opacity: 0;
        transform: translateY(40px);
      }

      100% {
      }
    }

    #searchbox {
      padding: 5px;
      border: none;
      background-color: #f8f8f8;
      width: 100% !important;
      font-size: .9rem;
      margin-bottom: 10px;
      border-radius: 2px;
    }

    ul {
      height: 130px;
      overflow: auto;

      li {
        padding: 6px 0;
        font-size: .9rem;
        cursor: pointer;

        // display: none;
        label {
          padding: 0;
          margin: 0;
          line-height: normal;
        }

        [type="checkbox"] {
          display: none;

          @mixin checkbox {
            content: '';
            display: inline-block;
            width: 18px;
            height: 18px;
            background: center no-repeat;
            background-size: 60%;
            margin: 1px 0 0 10px;
            vertical-align: middle;
            border: 2px solid #4B4B4B;
            border-radius: 2px;
          }

          & + span::before {
            @include checkbox;
          }

          &:checked + span::before {
            @include checkbox;
            //background-image: url(src/assets/image/checked-mark.png);
          }
        }

      }
    }

    .loading {

      background-color: #FFF;
      text-align: center;

      img {
        width: 110px;
      }
    }
  }
}

.form-group {
  margin-bottom: 10px;

  .field {
    .arrow-selectbox {
      position: absolute;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top-color: #686868;
      left: 30px;
      top: 16px;
    }
  }
}

.wide {
  display: block !important;
}

.permission-div {
  border: 1px solid #333 !important;
  background: none !important;
}

.submit_box {
  border-radius: 3px;
  z-index: 1;
  position: sticky;
  top: 0;
  background: #f6f6f6;
  padding:5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  p {
    width: 180px;
    margin: 0 auto 10px auto;
    font-size: .75rem;
    line-height: 22px;
  }
}

.btn_submit_form {
  margin:5px 10px;
  padding: 6px 25px;
  border-radius: 5px;
  min-width: 110px;
  color: #FFF;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  font-size: .9rem;
  float: left;
  border: 1px solid transparent;
  white-space: nowrap;

  @media (min-width: 1000px) and (max-width: 1200px) {
    padding: 6px 15px;
    font-size: 12px;
  }

  i {
    vertical-align: middle;
    font-size: 1.1rem;
    margin-right: 9px;
  }

  &.delete {
    background-color: #fc5c65;
    transition: .3s;
    color: #fff !important;

    &:hover {
      box-shadow: 0 8px 12px -3px rgba(#fc5c65, .6);
    }
  }

  &.submit {
    background-color: #1cb96a;
    transition: .3s;

    &:hover {
      box-shadow: 0 8px 12px -3px rgba(#1cb96a, .6);
    }
  }

  &.secendry {
    background-color: #2d78e7;
    transition: .3s;

    &:hover {
      box-shadow: 0 8px 12px -3px rgba(#2d78e7, .6);
    }
  }

  &.exel {
    background-color: #169750;
    transition: .3s;

    &:hover {
      box-shadow: 0 8px 12px -3px rgba(#169750, .6);
    }
  }

  &.pdf {
    background-color: #ea1b2e;
    transition: .3s;

    &:hover {
      box-shadow: 0 8px 12px -3px rgba(#ea1b2e, .6);
    }
  }

  &.return {
    border-color: #333;
    color: #333;
    background: none;
  }
}

.head_title_form {
  width: 90%;
  margin: 12px auto;

  span {
    display: inline-block;
    position: relative;
    bottom: 13px;
    font-size: 1rem;
  }
}

.custom_row {
  border: 1px solid #DDD;
  padding: 0;
  width: 98%;
  margin: 0 auto 40px auto;
  padding-top: 24px;
}


.ngx-file-drop__drop-zone {
  padding: 0;
  height: auto;
  font-size: .9rem;
  border: none !important;
  border-radius: 0 !important;
  height: auto !important;

  .ngx-file-drop__content {
    display: block !important;
    height: auto !important;
    color: #4f6471 !important;

    button {
      padding: 8px 21px 9px 21px;
      border: none;
      background-color: #deeffe;
      color: #2b9bf3;
      border-radius: 3px;
      float: right;
      font-size: .9rem;
      margin-right: 0 !important;

      i {
        vertical-align: middle;
        font-size: 1.3rem;
        margin-left: 4px;
      }
    }

    ul {
      float: right;

      li {
        float: right;
        padding: 9px 20px;
        background-color: #f2f2f5;
        position: relative;
        margin-right: 10px;
        border-radius: 3px;

        i {
          position: absolute;
          left: 0;
          top: 0;
          margin: 5px;
          font-size: .7rem;
          cursor: pointer;
        }
      }
    }

    .more {
      color: #3f79cf;
      font-weight: bold;
      border-bottom: 2px solid #5e697a;
      display: inline-block;
      margin: 11px 14px 0 0;
      padding-bottom: 4px;
      font-size: .78rem;
    }
  }
}

.breakhr {
  margin: 0px 0 30px 0;
}

input.form-control {
  direction: ltr !important;
  text-align: right !important;
  //direction: rtl !important;
}


// ::-webkit-input-placeholder {
//   /* Chrome/Opera/Safari */
//   font-size: 12px;
// }

// ::-moz-placeholder {
//   /* Firefox 19+ */
//   font-size: 12px;
// }

// :-ms-input-placeholder {
//   /* IE 10+ */
//   font-size: 12px;
// }

// :-moz-placeholder {
//   /* Firefox 18- */
//   font-size: 12px;
// }

.form-control:disabled,
.form-control[ng-reflect-is-disabled=true],
.form-control[readonly],
dp-date-picker[ng-reflect-disabled=true] .dp-picker-input {
  background-color: #f6f6f9 !important;
}




.cols .title {
  display: inline-block;
}

div.title {
  font-size: 14px;
}

label.form-label {
  font-size: 13px;
}
//.page_style_content form{
//  padding-left: 30px;
//  padding-right: 30px;
//}
