.label-radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 12px 0;
  cursor: pointer;
  position: relative;

  input {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }


  .design-radio {
    width: 20px;
    height: 20px;
    border: 1px solid #007bff;
    border-radius: 100%;
    margin-right: 16px;
    position: relative;
  }

  .design-radio::before,
  .design-radio::after {
    content: "";
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: absolute;
    left: -1px;
    top: -1px;
    transform: scale(0);
    transform-origin: center center;
  }

  .radio-disabled.design-radio:before, .radio-disabled.design-radio {
    background:  #dfdfe4;
    border: 1px solid #67acf7;
    cursor: default;
  }

  .radio-disabled.design-radio ~ .text-radio{
    cursor: default;
  }

  .radio-disabled.design-radio::after{
    background-color: transparent;
  }

  .design-radio:before {
    background: #007bff;
    opacity: 0;
    transition: .3s;
  }

  .design-radio::after {
    background: #0f615e;
    opacity: .4;
    transition: .6s;
  }


  .text-radio {
    color: #212529;
    font-weight: 500;
    padding-right: 10px;
  }


  input:checked + .design-radio::before {
    opacity: 1;
    transform: scale(.6);
  }

  input:checked + .radio-disabled.design-radio::before {
    background-color: #007bff;
  }

  input:checked + .design-radio::after {
    transform: scale(2.6);
    background: #dfe7e7 !important;
  }


  input:hover + .design-radio,
  input:focus + .design-radio {
    border: 1px solid #007bff;
  }

  input:hover + .design-radio:before,
  input:focus + .design-radio:before {
    background: #007bff;
  }

  input:focus + .design-radio::after,
  input:active + .design-radio::after {
    transform: scale(2.6);
  }
}

.inquiry {
  .label-radio {
    .radio-disabled.design-radio {
      border: 1px solid #008000 !important;
      background-color: #e1eae1 !important;

      &:disabled {
        background-color: #e1eae1 !important;
      }
    }
  }
}
