//.download-icon-file {
//  top: auto!important;
//  bottom: 0!important;
//  color: #70980e !important;
//}
//
//.download-icon-file, .delete-icon-file {
//  cursor: pointer;
//  color: #9e9493;
//  font-size: 14px;
//  padding: 0 3px;
//}

.ngx-file-drop__drop-zone {
  padding: 0;
  font-size: .9rem;
  border: none !important;
  border-radius: 0 !important;
  height: auto !important;

  .ngx-file-drop__content {
    display: block !important;
    height: auto !important;
    color: #4f6471 !important;

    button {
      padding: 8px 21px 9px 21px;
      border: none;
      background-color: #deeffe;
      color: #2b9bf3;
      border-radius: 3px;
      float: right;
      font-size: .9rem;
      margin-right: 0 !important;

      i {
        vertical-align: middle;
        font-size: 1.3rem;
        margin-left: 4px;
      }
    }

    ul {
      float: right;

      li {
        float: right;
        padding: 9px 20px;
        background-color: #f2f2f5;
        position: relative;
        margin-right: 10px;
        border-radius: 3px;

        i {
          position: absolute;
          left: 0;
          top: 0;
          margin: 5px;
          font-size: .7rem;
          cursor: pointer;
        }
      }
    }

    .more {
      color: #3f79cf;
      font-weight: bold;
      border-bottom: 2px solid #5e697a;
      display: inline-block;
      margin: 11px 14px 0 0;
      padding-bottom: 4px;
      font-size: .78rem;
    }
  }
}

.upload__list {
  width: 95%;
  margin: auto;
  border: 1px solid #DDD;
  border-radius: 6px;
  overflow: hidden;

  table {
    width: 100%;
    font-size: .9rem;

    thead {
      background-color: #fcfcff;
      border-bottom: 1px solid #DDD;
    }

    td {
      padding: 10px 20px;

      button {
        background-color: #deeffe;
        color: #2196f3;
        padding: 4px 10px;
        border-radius: 5px;
        border: none;
        font-size: .85rem;
      }
    }
  }
}


.uploaded {
  border: 2px dashed #dfdfdf;
  padding: 15px 15px 28px 15px !important;
  border-radius: 10px;
  text-align: center;
  position: relative;

  .content {
    button {
      background: #2196f3 !important;
      float: none !important;
      color: #FFF !important;
      padding: 4px 21px 4px 21px !important;
      font-size: .8rem;
      font-weight: bold;
    }

    .labels {
      display: inline-block;
      margin-left: 10px;
      font-size: .8rem;
    }
  }

  .add_icon {
    background-color: #EEE;
    width: 45px;
    height: 45px;
    line-height: 46px;
    font-size: 1.2rem;
    opacity: .4;
    border-radius: 100%;
  }

  ul {
    display: none;

    li {
      margin-left: 10px;
      height: 35px;
      padding: 0;
    }
  }

  .show_all {
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    background-color: #cee8fd;
    color: #2196f3;
    float: right;
    font-size: .8rem;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
  }

  &.active {
    border-color: #78bffa;
    min-height: 100px;

    .content {
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 10px;
    }

    .add_icon {
      float: right;
      border-radius: 5px;
      width: 35px;
      height: 35px;
      line-height: 35px;
      background-color: #cee8fd;
      color: #2196f3;
      opacity: 1;
      display: none;
    }

    ul {
      display: block;
    }
  }
}

.ng-autocomplete {
  width: 100% !important;
}

app-dpk-form-upload.ng-invalid.ng-touched .uploaded {
  border-bottom: 1px solid #d70b1e !important;
}

.custom-upload-col-lg-12 .col-md-4 {
  text-align: center;
}

.button-box{
  text-align: center;
}

.upload-list{
  display: flex !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  .title{
    font-size: 0.8rem;
  }
}

.upload-list-button-box{
  margin-top: -42px;
  text-align: center;
}

.upload-list .col-md-4{
  text-align: center;
  padding-top: 6px;
}

.btn-primary.accept, .btn-primary.upload {
  background-color: #1cb96a !important;
  border-color: #1cb96a !important;
  width: 150px;
  font-size: 0.75rem;
}

.btn-primary.accept{
}

.icon-btn-wrapper{
  margin: 10px auto;
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.icon-btn{
  padding: 5px 10px;
  border-radius: 0.25rem;
  color: #fff;
  width: 70px;
  font-size: 0.75rem;
}

.icon-btn.delete{
  background-color: #d70b1e;
}

.icon-btn.download{
  background-color: #2196f3;
}

.desc{
  font-size: 12px;
  text-align: right;
  margin-bottom: 0;
}

.desc.accept-file{
  color: #1CB96A;
}

.desc.reject-file{
  color: #ea2f5b
}

.modal_upload_btn {
  margin-right: 10px;
  padding: 6px 25px;
  border-radius: 5px;
  min-width: 110px;
  color: #FFF;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  font-size: 0.9rem;
  float: left;
  border: 1px solid transparent;
  white-space: nowrap;
}

.modal_upload_btn.submit_btn {
  background-color: #1cb96a;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 8px 12px -3px rgb(28 185 106 / 60%);
  }
}

.modal_upload_btn.return_btn {
  border-color: #333;
  color: #333;
  background: none;
}

.modal_upload_btn.disabled_btn {
  background-color: #808080FF !important;
  cursor: not-allowed;
}

.rotate-icon {
  float: right;
  padding-top: 8px;
}



