
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ececec;
    border-radius: 6px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c7c6c6;
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b7b0b0;
  }
  